:root {
    --avatar-size: 40px;
    --indentation-between-posts: 15px;
    --post-footer-margin: 5px;

}
.post-with-image, .post-without-image {
    display: grid;
}
.post-with-image {
    grid-template-areas:
        "avatar username username action-menu"
        "post-title post-title post-image post-image"
        "post-text post-text post-image post-image"
        "post-link post-link post-date post-date";
    grid-template-columns: var(--avatar-size) 1fr auto var(--avatar-size);
    grid-template-rows: var(--avatar-size) auto 1fr auto;
}
.post-without-image {
    grid-template-areas:
        "avatar username username action-menu"
        "post-title post-title post-title post-title"
        "post-text post-text post-text post-text"
        "post-link post-link post-date post-date";
    grid-template-columns: var(--avatar-size) auto auto var(--avatar-size);
    grid-template-rows: var(--avatar-size) auto 1fr auto;
}
.post-preview {
    max-height: 450px;
}
#avatar {
    grid-area: avatar;
}
#username {
    grid-area: username;
}
#action-menu {
    grid-area: action-menu;
}
#post-title {
    grid-area: post-title;
    margin: 0;
}
#post-text {
    grid-area: post-text;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;

}
#post-image {
    grid-area: post-image;
    min-height: 100px;
    max-height: 100%;
    margin-left: 5px;
    border-radius: var(--border-radius-medium);
}
#post-link {
    grid-area: post-link;
    margin-top: var(--post-footer-margin);
}
#post-date {
    grid-area: post-date;
    text-align: right;
    margin-top: var(--post-footer-margin);
}
