:root {
    --main-color: #00832D;
    --header-hight: 50px;
    --indentation-between-posts: 15px;
    --separator-color: #e7e8ec;
    --button-fontsize: 13px;
    --border-radius-big: 15px;
    --border-radius-medium: 10px;
    --border-radius-small: 6px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #edeef0;
    font-family: 'Roboto', sans-serif;

}

header {
    height: var(--header-hight);
    background-color: white;
    width: 100%;
    top: 0;
    position: fixed;
    border-bottom: 1px solid var(--separator-color);
}

main {
    margin-top: calc(var(--header-hight) + var(--indentation-between-posts));
}
.page-block {
    background-color: white;
    border-radius: var(--border-radius-medium);
    padding: 15px 20px;
    margin: var(--indentation-between-posts) 0;
    text-align: left;
    box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px var(--separator-color);
    box-sizing: border-box;
}

.display-none {
    display: none;
}

.post-list {
    margin: 0;
    padding: 0;
}

.post-list-item {
    list-style-type: none;
}

.post-container {

    background-color: white;
    border-radius: var(--border-radius-medium);
    padding: 15px 20px;
    margin: var(--indentation-between-posts) 0;
    list-style-type: none;
    text-align: left;
    box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px var(--separator-color);
}

/*.post {*/
/*    display: grid;*/
/*    grid-template-columns: 65% 35%;*/
/*}*/


.post-image {
    max-width: 336px;
    /*Попробовать ограничить размер поста*/
}

.post-image-container {
    position: relative;
}

.upload-text {
    font-size: var(--button-fontsize);
    overflow: hidden;
    white-space: nowrap;
}
.post-input-field {
    border: 0;
    outline: 0;
    width: 100%;
    box-sizing: border-box;
    /*box-shadow: 0 1px 0 0 #dce1e6, 0 0 0 1px #e7e8ec;*/
}
.title-input-field {

}

.content-input-field {
    height: 200px;
    resize: none;
}

.block {
    display: block;
}
.title-font {
    font-size: 26px;
}

.content-font {
    font-size: 17px;
}

.title {
    padding: 10px 0 ;
    margin: 0;
}


.content {
    max-height: 200px;
}

.content {
    margin: 0;
    white-space: pre-wrap;
    overflow: auto;
}

.button {
    color: white;
    padding: 0 16px;
    border-width: 0;
    border-radius: var(--border-radius-small);
    font-size: var(--button-fontsize);
    height: 30px;
    background-color:var(--main-color);
    cursor: pointer;
}

/*.post-button {*/
/*    border-radius: 50%;*/

/*    width: 50px;*/
/*    height: 50px;*/

/*    background-color: white;*/
/*    bottom: 40px;*/
/*    right: 40px;*/
/*    position: fixed;*/
/*    cursor: pointer;*/
/*}*/

.post-button:hover {

    box-shadow: 0 0 10px black;
}


.plus {
    position: absolute;
    left: 50%;
    right: 50%;
}
.main-container {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
}

.search-text-field {
    background-color: #EDEEF0;
    background-image: url("../img/search-img.svg");
    background-repeat: no-repeat;
    background-position: 10px;
    width: 230px;
    height: 32px;
    padding: 0 0 0 34px;
    border-width: 0;
    outline-width: 0;
    border-radius: 8px;

}

.search-text-field::-webkit-search-cancel-button {
    -webkit-appearance: none;
    width: 17px;
    height: 16px;
    background-image: url("../img/clear-text.svg");
    background-repeat: no-repeat;
    background-size: 15px 15px;
    margin-right: 2px;
    cursor: pointer;
}
.header-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-form {

}

.send-button {
    width: 100px;
    background-image: url("../img/search-img.svg");
    background-repeat: no-repeat;
}
.found-element {
    color: white;
    background-color: var(--main-color);
    border-radius: var(--border-radius-small);
    padding: 0 2px;
}
.link {
    color: var(--main-color);
    text-decoration: none;
}
.link:hover {
    text-decoration-line: underline;
}